.LandingContainer {
    height: 100vh;
    display:flex;/*this is  what was missing */
    flex-flow:column;/*this is  what was missing too*/
    align-items: center;
    justify-content: center;
}

.LandingHeader {
  color: white; 
  font-size: 50px;
  margin-bottom: 0;
}

.LandingSubHeader { 
  color: white;
  font-size: 40px;
  margin-top: 0;
}

.SocialButtonsContainer {
  position: absolute;
  bottom: 90px;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}